<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4">
        <tr>
            <td align="center">
                <table width="600px" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                    style="margin-top: 20px; margin-bottom: 20px;">

                    <!-- Logo Section -->
                    <tr>
                        <td align="center">
                            <!-- Replace src with the URL of your logo -->
                            <img src="https://i.imgur.com/KVHjjDL.png" alt="T2M Logo"
                                style="max-width: 200px; height: auto; padding: 20px;">
                        </td>
                    </tr>

                    <!-- Greeting Section -->
                    <tr>
                        <td valign="top" style="padding: 20px;">
                            <p>Chào bạn,</p>
                            <p>Chân thành càm ơn bạn đã chọn tin tưởng và sử dụng dịch vụ của T2M Invest -
                                Nền tẳng dữ liệu và công nghệ chứng khoán dành chuyên nghiệp cho nhà đầu tư
                                cá nhân.</p>
                        </td>
                    </tr>

                    <!-- Greeting Section -->
                    <tr>
                        <td valign="top" style="; text-align: center;">
                            <button>
                                <a href="t2m.vn" style="text-decoration: none">
                                    Sử dụng sản phẩm của T2M
                                </a>
                            </button>
                        </td>
                    </tr>

                    <!-- Image Section -->
                    <tr>
                        <td valign="top" style="padding: 20px;">
                            <img src="https://i.imgur.com/io99L2x.png" alt="T2M Content"
                                style="max-width: 600px; height: auto; padding: 20px;">
                        </td>
                    </tr>

                    <!-- Contact Section -->
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="grey">
                                <tr>
                                    <td width="50%" valign="top">
                                        <p>LIÊN HỆ</p>
                                        <ul>
                                            <li>FB</li>
                                            <li>Zalo</li>
                                            <li>Email</li>
                                        </ul>
                                    </td>
                                    <td width="50%" valign="top">
                                        <p>CỘNG ĐỒNG</p>
                                        <p>Tham gia ngay cộng động Nhà Đầu Tư chuyên nghiệp T2M Invest</p>
                                        <img src="https://i.imgur.com/jhDX2dr.png" alt="Telegarm QR"
                                            style="max-width: 100px; height: auto;" />
                                        <br>
                                        <button>
                                            <a href="https://t.me/+dfQWJsAaORljNzNl" style="text-decoration: none">
                                                T2M Invest - Cộng Đồng
                                            </a>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- Footer Section -->
                    <tr>
                        <td align="center"
                            style="padding: 20px; font-family: Arial, sans-serif; color: #999999; font-size: 12px;">
                            <!-- Footer content like copyright, links, etc. -->
                            Copyright © 2021 FireAnt.
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>

</html>